{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Twoje konto</h1>
    <div class="container-xxl">
        <div class="row mx-auto mt-2">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body gap-2 mx-auto text-center">
                        <h5 class="card-title">Stan konta</h5>
                        <h4>{{ sub_account.balance }} {{ currency.name.upper() }} </h4>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Zmień walutę
                        </button>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body d-grid gap-2 mx-auto text-center">
                        <h5 class="card-title">Dostępne akcje</h5>
                        <div>
                            <a class="btn btn-secondary"
                               href="{{ url_for("bp_transaction.get_post_internal", account_id=sub_account.account_id, currency_name=currency.name) }}">
                                Transakcja wewnętrzna
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-secondary"
                               href="{{ url_for("bp_exchange.get_post", account_id=sub_account.account_id) }}">
                                Wymiana walut
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Historia stanu konta</h4>
                        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="img" width="350px" height="300px"
                             src="{{ url_for('static', filename='img/bank-hamster.jpg' ) }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mx-auto">

            <div class="col-md">
                <div class="card">
                    <div class="card-header">Ale mamy esse</div>
                    <div class="card-body">Co nie</div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
         aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Wybierz walutę</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="list-group">
            </div>
        </div>
    </div>
    </div
{% endblock %}

{% block scripts %}

    <!-- CHARTJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        $().ready(function () {
            let id = {{ sub_account.account_id }};
            //chart
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            //populating the currency list in offcanvas
            let list_curr = {{ currency_list|safe }};

            for (let i in list_curr) {
                let curr = list_curr[i];
                $("<a>", {
                    "class": "list-group-item list-group-item-action",
                    text: curr.toUpperCase(),
                    href: '/account/' + id + '/' + curr
                }).appendTo(".list-group");
                console.log(curr.toUpperCase());
            }
        });
    </script>


{% endblock %}