{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Twoje konto</h1>
    <div class="container-xxl">
        <div class="row mx-auto mt-2">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body gap-2 mx-auto text-center">
                        <h5 class="card-title">Stan konta</h5>
                        <h4>{{ "%.2f"|format(sub_account.balance) }} {{ currency.name.upper() }} </h4>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Zmień walutę
                        </button>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body d-grid gap-2 mx-auto text-center">
                        <h5 class="card-title">Dostępne akcje</h5>
                        <div>
                            <a class="btn btn-secondary"
                               href="{{ url_for("bp_transaction.get_post_internal", account_id=sub_account.account_id, currency_name=currency.name) }}">
                                Transakcja wewnętrzna
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-secondary"
                               href="{{ url_for("bp_exchange.get_post", account_id=sub_account.account_id) }}">
                                Wymiana walut
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Historia transakcji</h4>
                        <ul class="list-group">
                            {% for item in history %}
                                {% if item.transaction_date %}
                                    {% if item.transaction_to == current_user.id %}
                                        <li class="list-group-item list-group-item-success">Transakcja przychodząca Data
                                            transakcji: {{ item.transaction_date }}</li>
                                    {% else %}
                                        <li class="list-group-item list-group-item-danger">Transakcja wychodząca Data
                                            transakcji: {{ item.transaction_date }}</li>
                                    {% endif %}
                                {% else %}
                                    {% if item.currency_to == currency.id %}
                                        <li class="list-group-item list-group-item-success">Wymiana waluty na inną Data
                                            transakcji: {{ item.exchange_date }}</li>
                                    {% else %}
                                        <li class="list-group-item list-group-item-danger">Wymiana waluty na aktualną :(
                                            Data transakcji: {{ item.exchange_date }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card">
                    <div class="card-body">
                        <img class="img d-block mx-auto w-auto h-auto mw-100 mh-100" width="350px" height="300px"
                             src="{{ url_for('static', filename='img/bank-hamster.jpg' ) }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mx-auto">

            <div class="col-md">
                <div class="card">
                    <div class="card-header">Ale mamy esse</div>
                    <div class="card-body">Co nie</div>
                </div>


            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
         aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Wybierz walutę</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="list-group" id="offcanvas">
            </div>
        </div>
    </div>
    </div
{% endblock %}

{% block scripts %}

    <!-- CHARTJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        $().ready(function () {
            let id = {{ sub_account.account_id }};
            {#let current_user_id = {{ current_user.id }};#}
            {#let currency_id = {{ currency.id }};#}

            //populating the currency list in offcanvas
            let list_curr = {{ currency_list|safe }};

            for (let i in list_curr) {
                let curr = list_curr[i];
                $("<a>", {
                    "class": "list-group-item list-group-item-action",
                    text: curr.toUpperCase(),
                    href: '/account/' + id + '/' + curr
                }).appendTo("#offcanvas");
                console.log(curr.toUpperCase());
            }
        });
    </script>


{% endblock %}