{% extends "base.html" %}

{% block content %}

  <form method="POST" action="{{  url_for("bp_exchange.get_post", account_id=sub_accounts[0].account_id) }}">
    {{ form.csrf_token }}

    {{ form.currency_from.label(class_="form-label")  }}:
    {{ form.currency_from (class_="form-control") }}

    {{ form.currency_to.label(class_="form-label")  }}:
    {{ form.currency_to (class_="form-control") }}

    {{ form.value_from.label(class_="form-label")  }}:
    {{ form.value_from (class_="form-control") }}

    {{ form.value_to.label(class_="form-label")  }}:
    {{ form.value_to (class_="form-control") }}

    <button type="submit" class="btn btn-primary mt-4">
      Wymień
    </button>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    $().ready(function () {
      let currency_from_select = document.getElementById('currency_from');
      let currency_to_select = document.getElementById('currency_to');
      let account_id = {{ sub_accounts[0].account_id }};

      currency_from_select.onchange = function() {
        let currency = currency_from_select.value;

        fetch('/exchange/' + account_id + '/' + currency + '/other').then(function(response) {
          response.json().then(function(data){
            let optionHTML = '';

            for(let cu of data.other){
                optionHTML += '<option value="' + cu + '">' + cu + '</option>';
            }

            currency_to_select.innerHTML = optionHTML;
          })
        });
      }
    });
  </script>

{% endblock %}