{% extends "base.html" %}

{% block content %}
    <div class="container col-6 mx-auto rounded">
        <h3 class="text-center mb-3">Wymiana walut</h3>
        <form method="POST" action="{{ url_for("bp_exchange.get_post", account_id=sub_accounts[0].account_id) }}">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col text-center">
                    {{ form.currency_from.label(class_="form-label") }}
                    {{ form.currency_from (class_="form-control") }}
                </div>
                <div class="col text-center">
                    {{ form.currency_to.label(class_="form-label") }}:
                    {{ form.currency_to (class_="form-control") }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    {{ form.value_from.label(class_="form-label") }}:
                    {{ form.value_from (class_="form-control", id_="value") }}
                </div>
                <div class="col text-center">
                    {{ form.value_to.label(class_="form-label") }}:
                    {{ form.value_to (class_="form-control", id_="value-after") }}
                </div>
            </div>
            <div class="mx-auto text-center"><h4 id="exchange-rate"></h4></div>
            <div class="text-center mt-4 mx-auto">
                <button type="submit" class="btn btn-primary">
                    Wymień
                </button>
                <a class="btn btn-secondary"
                   href="{{ url_for("bp_account.get", account_id=sub_accounts[0].account_id, currency_name='pln') }}">Powrót</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $().ready(function () {
            let currency_from_select = document.getElementById('currency_from');
            let currency_to_select = document.getElementById('currency_to');
            let account_id = {{ sub_accounts[0].account_id }};

            fetch('/exchange/' + account_id + '/' + currency_from_select.value.toLowerCase() + '/other').then(function (response) {
                  response.json().then(function (data) {
                      let optionHTML = '';

                      for (let cu of data.other) {
                          optionHTML += '<option value="' + cu + '">' + cu.toUpperCase() + '</option>';
                      }

                      currency_to_select.innerHTML = optionHTML;
                  })
            });

            currency_from_select.onchange = function () {
                let currency = currency_from_select.value;

                fetch('/exchange/' + account_id + '/' + currency.toLowerCase() + '/other').then(function (response) {
                    response.json().then(function (data) {
                        let optionHTML = '';

                        for (let cu of data.other) {
                            optionHTML += '<option value="' + cu + '">' + cu.toUpperCase() + '</option>';
                        }

                        currency_to_select.innerHTML = optionHTML;
                    })
                });
                let temp = '1';
                fetch('/exchange/' + currency_from_select.value.toLowerCase() + '/'
                    + currency_to_select.value.toLowerCase() + '/' + temp).
                then(function (response) {
                    response.json().then(function (data) {
                        let value_to = data.value_to;
                        $("#exchange-rate").text(value_to.toString());
                    })
                });
            }

            $("#value").keyup(function () {
                let value_from = parseFloat($("#value").val());
                if (isNaN(value_from)){
                    let value_to = 0;
                    $("#value-after").val(value_to);
                }else{
                    fetch('/exchange/' + currency_from_select.value.toLowerCase() + '/'
                        + currency_to_select.value.toLowerCase() + '/' + value_from.toString()).
                    then(function (response) {
                        response.json().then(function (data) {
                            let value_to = data.value_to;
                            $("#value-after").val(value_to);
                        })
                    });
                }
            });
            $(".form-control option").each(function () {
                let capitalize = $(this).text();
                $(this).text(capitalize.toUpperCase());
            });
        });
    </script>

{% endblock %}