{% extends "base.html" %}

{% block content %}

    <div class="container col-6 mx-auto rounded">
        <div class="card rounded bg">
            <div class="card-body text-center">
                <h4 class="card-title">Transakcja zakończona sukcesem.</h4>
                <p class="card-text">Hurra! Transakcja przebiegła pomyślnie, powróć do konta i ciesz się
                świeżutkimi środkami.</p>
                <div>
                    <img src="https://i.giphy.com/media/foIUVRRggFTXNI5uuZ/giphy.webp" alt="">
                </div>
                <a class="btn btn-success mt-3" href="{{ url_for("bp_account.get", account_id=account_id, currency_name='pln') }}">
                  Powrót do konta
                </a>
            </div>
        </div>

    </div>

{% endblock %}