{% extends "base.html" %}

{% block content %}
    <div class="container-xxl">
        <h1>Transakcja wewnętrzna</h1>

        <h4>Waluta: </h4>
        <h4>{{ currency.name.upper() }}</h4>

        <h4>Stan twojego konta: </h4>
        <h4 id="stan-konta">{{ sub_account.balance }}</h4>

        <form method="POST"
              action="{{ url_for('bp_transaction.get_post_internal', account_id=sub_account.account_id, currency_name=currency.name) }}">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.username_from.label(class_="form-label") }}:
                {{ form.username_from (class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.username_to.label(class_="form-label") }}:
                {{ form.username_to (class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.title.label(class_="form-label") }}:
                {{ form.title (class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.value.label(class_="form-label") }}:
                {{ form.value (class_="form-control", id_="kwota", type_="text") }}
            </div>
            <h5 class="mt-2">Stan konta po przelewie:</h5><h6 id="stan-po"></h6>
            <button type="submit" class="btn btn-primary mt-3 mb-2">
                Wyślij przelew
            </button>

        </form>
        <a class="btn btn-secondary"
           href="{{ url_for("bp_account.get", account_id=sub_account.account_id, currency_name=currency.name) }}">Powrót</a>
    </div>
    {% block scripts %}

        <script>
            $().ready(function () {

                let stan = parseFloat($("#stan-konta").text());

                $("#stan-po").text(stan);

                $("#kwota").keyup(function () {
                    let kwota = parseFloat($("#kwota").val());
                    let wynik;
                    if (kwota <= stan) {
                        wynik = (stan - kwota).toString();
                    } else if(isNaN(kwota)) {
                        wynik = stan.toString();
                    } else{
                        wynik = "Nie posiadasz wystarczających środków";
                    }
                    $("#stan-po").text(wynik);
                });


            });
        </script>
    {% endblock %}

{% endblock %}