{% extends "base.html" %}

{% block content %}

  <h1>Tranzakcja wewnętrzna</h1>

  <h4>Waluta: </h4>
  <h4>{{ currency.name }}</h4>

  <h4>Stan twojego konta: </h4>
  <h4>{{ sub_account.balance }}</h4>

  <form method="POST" action="{{ url_for('bp_transaction.get_post_internal') }}">
      {{ form.csrf_token }}

      {{ form.username_from.label(class_="form-label")  }}:
      {{ form.username_from (class_="form-control") }}

      {{ form.username_to.label(class_="form-label")  }}:
      {{ form.username_to (class_="form-control") }}

      {{ form.title.label(class_="form-label")  }}:
      {{ form.title (class_="form-control") }}

      {{ form.value.label(class_="form-label")  }}:
      {{ form.value (class_="form-control") }}

      <button type="submit" class="btn btn-primary mt-4">
        Wyślij przelew
      </button>

  </form>

{% endblock %}